extends base
block content
  div.jumbotron
    ul
      li Создай событие
      li Добавь или пригласи участников
      li В конце все участники получат уведомления с именем того, кому они будут дарить подарок
      li Все встречаетесь вместе и дарите подарки)
  include event/new.jade